NODE_ENV=development
PORT=3001
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=03_coffee_blog

JWT_ACCESS_SECRET=your_very_secret_key_coffee
JWT_REFRESH_SECRET=dev_refresh_secret_change_me_coffee
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

FRONTEND_ORIGIN=http://localhost:3000
